<!-- <label>
        ID: <input type="text" name="name" value="<%= pokemon.id %>"
      /></label>
      <label>
        Image: <input type="text" name="img" value="<%= pokemon.img %>"
      /></label> -->