<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1 class="dex-head">Choose that Pokémon</h1>

    <div class="poke-container">
      <ul class="poke-list">
        <%for (let i = 0; i < pokemon.length; i++) { %>
        <a href="/<%= i %>"
          ><img src="<%= pokemon[i].img %>" alt="<%= pokemon[i].name %>"
        /></a>
        <% } %>
      </ul>
    </div>
  </body>
</html>
