<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="nav-new"><%- include("./partials/nav.ejs") %></div>
    <form action="/pokemon" method="post" id="poke-add">
      
        <label>ID:<input type="text" name="id" /></label>
        <br />

        <label>Pokémon:<input type="text" name="name" /></label>
        <br />

        <label>Image:<input type="text" name="img" /></label>
        <br />

        <input type="submit" value="Add Pokemon" id="add" />
     
    </form>
  </body>
</html>
