/* font family */
@font-face {
    font-family: "solid";
    src: url("./fonts/Solid.ttf");
}

/* Header */
.dex-head {
    font-family: "solid", sans-serif;
    color: yellow;
    font-style: italic;
    -webkit-text-stroke: .1rem rgb(53, 0, 244);
    font-size: 3rem;
}